[user]
	name = Eugene Tskhovrebov
	email = eqw3rty@gmail.com
[core]
	editor = vim
	excludesfile = /Users/eqw3rty/.gitignore_global
[push]
	default = current
[branch]
	autosetupmerge = always
	autosetuprebase = always
