# Ignore everything in the root
/*

!.gitignore
!README

# Bash
!.bash_profil

# Zsh
!.zshenv
!.zshrc
!.oh-my-zsh-custom

# Vim
!.vimrc
!.vim/autoload/

# Emacs
*.el~
*~
!.emacs
!.emacs.d
.emacs.d/*
!.emacs.d/custom/

# Tig
!.tigrc

# Tmux
!.tmux.conf

# Homebrew dump
!.homebrew

# Folders
!.scripts
!.wiki
